__pycache__/
*.py[cod]
.pytest_cache/

.streamlit/secrets.toml

data/raw/*
data/processed/*
outputs/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/.gitkeep

# Streamlitで必要な最新データ
!data/processed/long_short_returns_pct.csv

# Streamlitで表示する分析結果
!outputs/cdcc_signal_weights.csv
!outputs/cdcc_signal_nav.csv
!outputs/cdcc_signal_performance.csv
!outputs/cdcc_signal_diagnostics.csv

!outputs/cdcc_portfolio_weights.csv
!outputs/cdcc_portfolio_nav.csv
!outputs/cdcc_portfolio_performance.csv
!outputs/cdcc_walkforward_parameters.csv

!outputs/dcc_garch_volatility_forecast.csv
!outputs/dcc_garch_horizon_volatility_forecast.csv
!outputs/dcc_garch_next_day_covariance_forecast.csv
!outputs/dcc_garch_weekly_covariance_forecast.csv
!outputs/dcc_garch_next_day_correlation_forecast.csv
!outputs/dcc_garch_weekly_correlation_forecast.csv
!outputs/dcc_garch_covariance_forecast.csv
!outputs/dcc_garch_correlation_forecast.csv
!outputs/dcc_garch_univariate_parameters.csv
!outputs/dcc_garch_portfolio_volatility_forecast.csv